<h2>Questions</h2>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->

<div class="header">
  Questions number here
</div>
<div>
  <strong>What's the output of the following ? 8 + 2</strong>
</div>
<div class="answers">
  <ul type="none">
    <li><input type="radio" name="q1" id="1" value="10" />10</li>
    <li><input type="radio" name="q1" id="2" value="2" />2</li>
    <li><input type="radio" name="q1" id="3" value="6" />6</li>
    <li><input type="radio" name="q1" id="4" value="8" />8</li>
  </ul>
</div>
